.App {
  text-align: center;
  font-family: "Titan One", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}*/

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(17px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}




.stats {
  display: flex;
  flex-direction: column;
  background-color: rgb(39, 38, 44);
  border-radius: 32px;
  box-shadow: rgb(25 19 38 / 10%) 0px 2px 12px -8px, rgb(25 19 38 / 5%) 0px 1px 1px; 
  padding: 50px;
  padding-bottom: 5px;
}

p {
  font-size: calc(5px + 2vmin);
  color: rgb(255, 179, 0);
}

.newCs {
  font-size: calc(50px + 2vmin);
  color: white;
  
}



/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}*/
